---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting">

<section class="main-content">
  <div class="container post-detail" style="
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 30px;
    ">

    <div class="post-text" style="flex: 1 1 400px;">
      <h3 style="
          font-size: 1.5em;
          margin-top: 0;
          margin-bottom: 10px;
          text-align: left;
          color: #007acc;
          font-weight: normal;
        ">
        {{ page.date | date: "%Y-%m-%d" }} {{ page.title }}
      </h3>

      <div itemprop="articleBody" style="text-align: left;">
        {{ content }}
      </div>
    </div>

    {% if page.main_image %}
    <div class="post-image" style="flex: 0 0 300px;">
      <img src="{{ page.main_image }}" alt="{{ page.title }}"
           style="height: 200px; border-radius: 5px; flex-shrink: 0;">
    </div>
    {% endif %}

  </div>
</section>

</article>
